.tile {
  margin: 5px;
  max-width: 100%;
}

.tileBar {
  display: flex;
  align-items: center;
}

.tileBarTitle {
  flex: 1;
}

.tileActionIcon {
  color: rgba(255, 255, 255, 0.54);
}

.searchContainer {
  display: flex;
  align-items: flex-end;
  padding: 0 10px 10px 10px;
  margin: 5px 0;
}

.searchField {
  margin: 100px;
  padding: 100px;
}

.searchLabel {
  display: flex;
  align-items: center;
}

.addDialogLoader {
  margin-left: 10px;
}

.favoritesGrid {
  display: flex;
  justify-content: center;
}

.deleteButton {
  position: absolute;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 0 10px;
}

.loaderContainer {
  min-height: 5px;
}

